/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
  color: black;
  /* left: 50%; */
  transform: translateX(50%);
  width: 100%;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
  color: #333;
}

/* Nút bấm chung */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
}

button:hover {
  background-color: #0056b3;
}

button.btn-delete {
  background-color: #dc3545;
}
button.btn-delete:hover {
  background-color: #c82333;
}

/* Form nhập liệu */
input[type="text"], input[type="email"] {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Bảng */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}